@model Acctive.Models.Application.Company

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].ContactName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].ContactName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].ContactName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].ContactTitle, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].ContactTitle, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].ContactTitle, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].Line1, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].Line1, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].Line1, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].Line2, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].Line2, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].Line2, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].City, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].City, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].City, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].State, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].State, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].State, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].Pincode, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].Pincode, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].Pincode, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].Country, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].Country, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].Country, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].ContactNumber, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].ContactNumber, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].ContactNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].Email, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].Email, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].Email, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Addresses[0].Website, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Addresses[0].Website, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        @Html.ValidationMessageFor(model => model.Addresses[0].Website, "", new { @class = "text-danger" })
    </div>
</div>